    <section id="content-details" class="row clearfix">
      <article id="details-article" class="col-sm-8">
        <h1 id="article-title">Your product <span class="font-weight-light">Product name</span></h1>
           

       <p>kan dette virke, da ville det hvert veldig kult.</p>
       
       <p>dette virket da råbra</p>
       <p><strong>what you get</strong></p>
       <ul class="no-indent">
        <li>lorem ipsum dolor sit,</li>
        <li>lorem ipsum dolor sit amet, cum.</li>
        <li>lorem ipsum dolor sit amet, quo no etiam.</li>
       </ul> 
      </article>
        <aside id="details-aside" class="col-sm-4">
          <a id="btn-buy" href="receipt.html" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>get it!</a>
          <ul id="details-infobox" class="list-group">
            <li class="list-group-item active clearfix">info</li>
            <li class="list-group-item">what you get</li>
            <li class="list-group-item">this is included</li>
          </ul>
        </aside>
      </section>
    <footer id="site-footer">
    Made by<a href="#" target="_blank"><p>learn rails</p></a>
    </footer>  